.home{
    padding: 0px 10px;
    padding-bottom: 100px;
    align-items: center;
} 

.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero h1{
    font-size: 44;
}   

.hero form{
    padding: 8px;
    width: 80%;
    background-color: #1e1e1e;
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero input{
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
    background-color: #1e1e1e;
    border-radius: 10%;
}

.hero button{
    border: none;
    background-color: #191723;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.commoditytable{
    max-width: 800px;
    margin: auto;
    background: linear-gradient(rgba(84, 3, 255, 0.15), rgba(105, 2, 153, 0, 0.15));
    border-radius: 15px;
}

.tablelayout{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #3c3c3c;
    background-color: #191723;
}


