.home{
    padding: 0px 10px;
    padding-bottom: 100px;
    align-items: center;
} 

.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero h1{
    font-size: 44;
}   

.hero form{
    padding: 8px;
    width: 80%;
    background-color: #1e1e1e;
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero input{
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
    background-color: #1e1e1e;
    border-radius: 10%;
}

.hero button{
    border: none;
    background-color: #191723;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.Table{
    margin: 0 auto;
    align-self: center;
    text-align: center;
}

.Table .icon {
    width: 30px;

}

th {
    padding: 38px;
    font-size: 17px;
    border-bottom: 1px solid #1f1d2d;
}
